<div class="container">
<mat-card style="width: 70%; height: 80%; margin: 50px" fxFlex="74" fxFlexOffset="13">
<h1 style="text-align: center;">MENU (mirar solucion margin)</h1>
<mat-grid-list cols="3" rowHeight="2:1" fxLayout="row" fxFlexAlign="center" style="margin:auto;">
    <mat-grid-tile class="tile-test">
        <mat-card class="card-test">
            <mat-card-title class="card-title">
                <h3>MIS RESERVAS</h3>
            </mat-card-title>
            <mat-card-content>
                <img mat-card-image src="https://static.thenounproject.com/png/1131224-200.png">
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="tile-test">
        <mat-card class="card-test">
            <mat-card-title class="card-title">
                <h3>SALAS</h3>
            </mat-card-title>
            <mat-card-content>
                <img mat-card-image src="https://static.thenounproject.com/png/46945-200.png">
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="tile-test">
        <mat-card class="card-test">
            <mat-card-title class="card-title">
                <h3>MI PERFIL</h3>
            </mat-card-title>
            <mat-card-content>
                <img mat-card-image src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png">
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</mat-card>
</div>