.container {
    background-image: url('https://www.nypl.org/sites/default/files/bookcase-1280x720.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.card-test {
    width: 75%;
    height: 83%;
}

.tile-test {
    border: medium;
    border-color: black;
    height: 100%;
}

.card-title {
    text-align: center;
}

.mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
}