
        <h4>
            <p>This is the home component</p>
        </h4>

        <p>
            This is a test site. It has been made using Angular for the FrontEnd and NodeJS for the BackEnd
        </p>

        <div>
            <p>Routes:</p>
            <ul>
                <li>
                    <a routerLink='/company'>
                        COMPANY
                    </a>
                </li>
            </ul>
            <p>Pruebas angular material:</p>
            <ul>
                <li>
                    <a routerLink='/test'>
                        TEST
                    </a>
                </li>
                <li>
                    <a routerLink='/test2'>
                        TEST2
                    </a>
                </li>
                <li>
                    <a routerLink='/test3'>
                        TEST3
                    </a>
                </li>
                <li>
                    <a routerLink='/test4'>
                        TEST4
                    </a>
                </li>
            </ul>
