<div fxLayout="column" class="container">
    <mat-card class="card-container">
    <div>
        <h2 style="text-align: center;">MENU</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayout.sm="column">
        <mat-card>
            <mat-card-title>HI</mat-card-title>
            <mat-card-content>
                <img mat-card-img style="max-width: 300px;max-height: 300px;"
                src="https://www.latercera.com/resizer/LTN5QsS3yo6u_oNmub2HNEcv-f4=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/3QOVU47ZLRATTJQREKLUL5BBRA.jpg">
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>HI</mat-card-title>
            <mat-card-content>
                <img mat-card-img style="max-width: 300px;max-height: 300px;"
                src="https://www.latercera.com/resizer/LTN5QsS3yo6u_oNmub2HNEcv-f4=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/3QOVU47ZLRATTJQREKLUL5BBRA.jpg">
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>HI</mat-card-title>
            <mat-card-content>
                <img mat-card-img style="max-width: 300px;max-height: 300px;"
                src="https://www.latercera.com/resizer/LTN5QsS3yo6u_oNmub2HNEcv-f4=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/3QOVU47ZLRATTJQREKLUL5BBRA.jpg">
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>
</div>